main {
	/* max-width: 100ch;
	min-height: calc(100vh - 2.5rem); */
	text-align: justify;
	width: 100%;
}

.review-box {
	background-color: whitesmoke;
	display: grid;
	grid-template-columns: minmax(250px, 300px) 1fr minmax(250px, 300px);
	margin: 0 auto;
	border-radius: 0.4rem;
	position: relative;
}

h1,
h3 {
	text-align: center;
}

.pill-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 5px;
	margin-block-start: 1rem;
}

.pill {
	display: inline-block;
	background-color: rgba(var(--accent), 20%);
	padding: 0.3rem;
	font-size: 0.8rem;
	border-radius: 8px;
}

.book-cover-big {
	width: 100%;
	height: auto;
	border-radius: 8px;
	max-width: 200px;
}

.image {
	max-width: 100%;
	border-radius: 8px;
}

.image.right {
	width: 45%;
	float: right;
	margin: 0 0 0.3rem 1rem;
}

@media screen and (max-width: 480px) {
	.image.right {
		width: 100%;
		margin-block-end: 1rem;
	}
}

.extra-images {
	display: flex;
	gap: 15px;
	margin-top: 1rem;
	flex-wrap: wrap;
	place-items: center;
	justify-content: space-around;
}

.extra-images * {
	width: 45%;
}

.book-review {
	display: grid;
	max-width: 70ch;
	justify-items: center;
	gap: 1rem;
	margin: 1.5rem auto;
}

aside.book-info {
	justify-content: start;
}

.book-info * {
	margin: 0 auto;
}

article:last-of-type > p:first-of-type::first-letter {
	font-family: var(--serif);
	color: rgba(var(--accent), 100%);
	font-size: clamp(1rem, 1.5vw + 1rem, 1.25rem);
	font-weight: var(--bold);
}
