main {
	max-width: 100ch;
	min-height: calc(100vh - 2.5rem);
	text-align: justify;
}

h1,
h3 {
	text-align: center;
}

hr {
	color: rgba(var(--accent), 20%);
	width: 80%;
}

.pill-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 5px;
	margin-block-start: 1rem;
}

.pill {
	display: inline-block;
	background-color: rgba(var(--accent), 20%);
	padding: 0.3rem;
	font-size: 0.8rem;
	border-radius: 8px;
}

.book-cover-big {
	width: 100%;
	height: auto;
	border-radius: 8px;
	max-width: 200px;
}

.image {
	max-width: 100%;
	border-radius: 8px;
}

.image.right {
	width: 45%;
	float: right;
	margin: 0 0 0.3rem 1rem;
}

@media screen and (max-width: 480px) {
	.image.right {
		width: 100%;
		margin-block-end: 1rem;
	}
}

.extra-images {
	display: flex;
	gap: 15px;
	margin-top: 1rem;
	flex-wrap: wrap;
	place-items: center;
	justify-content: space-around;
}

.extra-images * {
	width: 45%;
}

.wrapper {
	container-type: inline-size;
}

.book-review {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 1rem;
	margin-block-start: 1rem;
}

.book-info {
	text-align: center;
	background-color: lavender;
	height: fit-content;
	padding: 1rem;
	border-radius: 0 8px 8px 0;
	width: fit-content;
}

.book-info img {
	order: 0;
}

@container (max-width: 520px) {
	.book-review {
		grid-template-columns: 1fr;
		margin-block-start: 0;
	}

	.book-info {
		display: grid;
		grid-template-columns: 1fr 1fr;
		place-items: center;
		margin-block-start: 1rem;
		gap: 1rem;
	}
}

@media screen and (max-width: 430px) {
	.book-info {
		grid-template-columns: 1fr;
	}
}

article:last-of-type > p:first-of-type::first-letter {
	font-family: var(--serif);
	color: rgba(var(--accent), 100%);
	font-size: clamp(1rem, 1.5vw + 1rem, 1.25rem);
	font-weight: 800;
}

/* margin adjustments */

.m-top {
	margin-top: 1rem;
}

h3 {
	margin: 0.5rem 0;
}

.m-top > h3 {
	margin: 0;
}
