:root {
	--accent: 124, 58, 237;
	--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	--serif: "Spectral", "Georgia", serif;
	--sans: "Rubik", "Arial", sans-serif;
}

html {
	background-color: lavender;
	font-family: "Rubik", sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	width: 100%;
	/* max-width: 100ch; */
	font-size: 15px;
	padding: 1rem;
	line-height: 1.4;
}

@media screen and (max-width: 400px) {
	body {
		padding: 0.5rem;
	}
}

p {
	font-size: 0.9rem;
	margin-top: 0.5rem;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: underline 2px rgba(var(--accent), 25%);
	color: teal;
	transition: all 0.2s ease-in-out;
}

a:hover {
	color: rgba(var(--accent), 80%);
}

strong {
	color: rgb(var(--accent));
}

h1 {
	font-size: clamp(2rem, 2vw + 2rem, 3rem);
	font-weight: 800;
	margin-block: 0;
	line-height: 1;
}

h3 {
	font-size: clamp(0.8rem, 1vw + 0.8rem, 1.25rem);
}

h4 {
	font-weight: 400;
}

:where(h1, h2, h3, h5, h6) {
	font-family: var(--serif);
}

blockquote {
	margin: 0.5rem 0;
	font-size: 0.8rem;
	border-inline-start: 2px rgba(var(--accent), 75%) solid;
	overflow: auto;
	padding: 0.2rem 0.5rem;
	background-color: rgba(var(--accent), 10%);
	border-radius: 0 8px 8px 0;
}

blockquote + blockquote {
	margin-top: 1rem;
}

.text-gradient {
	background-image: var(--accent-gradient);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-size: 400%;
	background-position: 0%;
}

.instructions,
input,
button,
.button-style {
	margin: 0 auto;
	background-color: white;
	border-radius: 0.4rem;
	display: block;
}

button,
.button-style {
	padding: 0.3rem 0.5rem;
	border: 1px solid rgba(var(--accent), 55%);
}

button,
.button-style {
	background-color: white;
	color: rgba(var(--accent), 90%);
	color: teal;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	font: inherit;
}

button:hover,
.button-style:not(.inactive):hover {
	background-color: lavender;
}

.button-style.inactive {
	color: rgba(var(--accent), 50%);
	cursor: not-allowed;
	pointer-events: none;
	opacity: 0.5;
	border: rgb(var(--accent), 0%);
}

button:active {
	background-color: rgb(var(--accent), 35%);
	transform: translateY(-2px);
}

hr {
	color: rgba(var(--accent), 20%);
	width: 80%;
}

.link-card-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(18ch, 1fr));
	gap: 1rem;
	padding: 0;
}

.content-box {
	background-color: whitesmoke;
	display: grid;
	grid-template-columns: 200px 1fr;
	margin: 0 auto;
	border-radius: 0.4rem;
	position: relative;
}

.content-box > header {
	padding: 1.5rem;
	position: sticky;
	top: 1.5rem;
	height: 100vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media screen and (max-width: 440px) {
	.content-box {
		grid-template-columns: 1fr;
	}

	.content-box > header {
		padding: 0 1.5rem;
		position: relative;
		height: auto;
	}
}

nav,
.nav-buttons {
	margin: 0 auto;
	display: grid;
	gap: 1rem 0.5rem;
}

.nav-buttons {
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(54px, 1fr));
}

.nav-buttons a {
	width: 100%;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	padding-left: 1rem;
	text-indent: -0.7rem;
}

li::before {
	content: "🔅";
}

li + li {
	margin-block-start: 0.5rem;
}
