:root {
	--accent: 124, 58, 237;
	--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
}

html {
	background-color: lavender;
	font-family: "Rubik", sans-serif;
}

body {
	margin: 0 auto;
	width: 100%;
	/* max-width: 100ch; */
	font-size: 15px;
	padding: 1rem;
	line-height: 1.4;
}

@media screen and (max-width: 400px) {
	body {
		padding: 0.5rem;
	}
}

p {
	font-size: 0.9rem;
	margin-top: 0.5rem;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: underline 2px rgba(var(--accent), 25%);
	color: teal;
	transition: all 0.2s ease-in-out;
}

a:hover {
	color: rgba(var(--accent), 80%);
}

main {
	margin: auto;
	padding: 1.5rem;
}

h1 {
	font-size: clamp(1.5rem, 2vw + 1.2rem, 2.25rem);
	font-weight: 800;
	margin: 0 auto;
}

h3 {
	font-size: clamp(0.8rem, 1vw + 0.8rem, 1.25rem);
}

:where(h1, h2, h3, h4, h5, h6) {
	font-family: "Fraunces", serif;
}

blockquote {
	margin: 0.5rem 0;
	font-size: 0.8rem;
	border-inline-start: 2px rgba(var(--accent), 75%) solid;
	overflow: auto;
	padding: 0.2rem 0.5rem;
	background-color: rgba(var(--accent), 10%);
	border-radius: 0 8px 8px 0;
}

blockquote + blockquote {
	margin-top: 1rem;
}

.text-gradient {
	background-image: var(--accent-gradient);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-size: 400%;
	background-position: 0%;
}

.instructions,
input,
button,
.button_style {
	margin: 0 auto;
	background-color: white;
	border-radius: 0.4rem;
}

button {
	padding: 0.5rem;
	margin-block: 1rem;
	border: 1px solid rgba(var(--accent), 25%);
}

.instructions strong {
	color: rgb(var(--accent));
}

button,
.button_style {
	background-color: lavender;
	color: rgb(var(--accent), 90%);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	font: inherit;
}

button:hover,
.button_style:hover {
	background-color: rgb(var(--accent), 35%);
}

button:active,
.button_style:active {
	background-color: gainsboro;
	transform: translateY(-2px);
}

.link-card-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(18ch, 1fr));
	gap: 1rem;
	padding: 0;
}

.center {
	text-align: center;
	margin: 0 auto;
	display: block;
}
