body {
	text-align: center;
	/* max-width: 140ch; */
}

img {
	/* border-radius: 0.4rem 0.4rem 0 0; */
	border: 1px solid rgba(var(--accent), 25%);
	transform: scale(1.02);
	transition: all 0.1s ease-in-out;
}

img:hover {
	filter: grayscale(50);
	transform: scale(1.01);
}

.img-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
	text-align: center;
	gap: 2rem 1.5rem;
	padding: 1rem;
	align-content: start;
}

@media screen and (max-width: 680px) {
	.img-grid {
		gap: 1rem 0.5rem;
	}
}

.book-slug {
	padding-block: 0.5rem;
	padding-inline: 0.2rem;
}

.img-grid img {
	height: 270px;
	width: 100%;
	object-fit: cover;
}

@media screen and (max-width: 420px) {
	.img-grid img {
		height: 300px;
	}
}

.book-grid-item {
	border: 1px solid rgba(var(--accent), 5%);
	border-radius: 0.4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	background: rgba(255, 255, 255, 80%);
	box-shadow: var(--shadow-elevation-low);
}

.book-grid-rating {
	background-color: rgba(var(--accent), 20%);
	padding: 10px 0 5px;
	/* border-radius: 0 0 0.4rem 0.4rem; */
}
