.img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    align-content: start;
    @apply mt-4 sm:mt-0 rounded-sm shadow-md p-1 sm:p-4 gap-3 sm:gap-6 text-center;
}

.img-grid > a > img {
    height: 270px;
    @apply w-auto mx-auto rounded-lg flex justify-start object-cover sm:w-full mt-4 sm:mt-0
}

@media screen and (max-width: 420px) {
    .img-grid > a > img {
        height: 300px;
    }
}