---
export interface Props {
	slug: string
	type: 'prev' | 'next'
}

const { slug, type } = Astro.props
---

<a href={`../../${slug}/index.html`} rel="noopener noreferrer">
	{type === 'next' ? 'Next' : 'Previous'}
</a>
