---
import { getUrlPath } from '../utils/digits'
import { getStars } from '../utils/rating'
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'

export interface Props {
	year?: number
}

const { year } = Astro.props

let allBooks = await getCollection('books')

if (year) allBooks = await getCollection('books', ({ data }) => Number(data.year) === year)
---

<section class="instructions img-grid">
	{
		allBooks.map((book) => {
			return (
				<article class="book-grid-item">
					<a href={`/${book?.slug}`}>
						<Image
							src={book && book?.data.image}
							alt={book?.data.title}
							width={200}
							height={250}
							format="webp"
							quality={'mid'}
						/>
					</a>
					<a
						href={year ? getUrlPath(book?.slug, true) : getUrlPath(book?.slug, false)}
						class="book-slug"
					>
						{book?.data.title}
					</a>
					<div set:html={getStars(book?.data.score)} class="book-grid-rating" />
				</article>
			)
		})
	}
</section>
