---
import type { CollectionEntry } from "astro:content";
import { getImagePath, getUrlPath } from "../utils/digits";
import { getStars } from "../utils/rating";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

export interface Props {
	books: CollectionEntry<"books">[];
	year?: number;
}

const { books, year } = Astro.props;
const allBooks = await getCollection("books");
---

<section class="img-grid instructions">
	{
		allBooks.map((book) => {
			// const imagePath = `${year ? `..` : `.`}/${getImagePath(
			// 	book?.data.image.src,
			// 	book?.data.year
			// )}`;
			return (
				<article class="book-grid-item">
					<a
						href={
							year
								? getUrlPath(book?.slug, true)
								: getUrlPath(book?.slug, false)
						}
					>
						<Image
							src={book?.data.image}
							alt={book?.data.title}
							width={200}
							height={250}
						/>
					</a>
					<a
						href={
							year
								? getUrlPath(book?.slug, true)
								: getUrlPath(book?.slug, false)
						}
						class="book-slug"
					>
						{book?.data.title}
					</a>
					<div set:html={getStars(book?.data.score)} class="book-grid-rating" />
				</article>
			);
		})
	}
</section>
