---
import type { CollectionEntry } from "astro:content";
import { getLocalImagePath, getUrlPath, removeFileExtension } from "../utils/digits";
import { getStars } from "../utils/rating";
import { Image } from "@astrojs/image/components";

export interface Props {
	books: CollectionEntry<"books">[];
	year?: number;
}

const { books, year } = Astro.props;
---

<section class="img-grid">
	{
		books.map((book) => {
			const imagePath = `${removeFileExtension(
				getLocalImagePath(book?.data.image, book?.data.year)
			)}`;

			return (
				<article class="book-grid-item">
					<a
						href={
							year
								? getUrlPath(book?.slug, true)
								: getUrlPath(book?.slug, false)
						}
					>
						<Image
							alt={book?.data.title}
							width={350}
							height={450}
							aspectRatio="4:3"
							format="webp"
							src={import(`../${imagePath}.jpg`)}
						/>
					</a>
					<a
						href={
							year
								? getUrlPath(book?.slug, true)
								: getUrlPath(book?.slug, false)
						}
						class="book-slug"
					>
						{book?.data.title}
					</a>
					<div set:html={getStars(book?.data.score)} class="book-grid-rating" />
				</article>
			);
		})
	}
</section>
