---
import type { CollectionEntry } from 'astro:content'
import ReadingStats from '../layouts/ReadingStats.astro'
import YearButtons from './YearButtons.astro'
import { getBooks } from '../utils/getBooks'

export interface Props {
	year?: number
}

const { year } = Astro.props

const books: CollectionEntry<'books'>[] = year ? await getBooks(year) : await getBooks()
---

<header>
	<nav>
		<h1>
			<span class="text-gradient">
				{year ? `${year}` : ''}
			</span>{' '}
			Books
		</h1>
		<YearButtons year={year} showAll={year ? true : false} />
	</nav>
	<ReadingStats books={books} />
</header>
