---
import { validYears } from '../content/config'

const { currentYear, isReview } = Astro.props

const hasFilter = currentYear !== undefined || isReview
---

<section class="nav-buttons">
	<a href=`/index.html` } class={`button-style ${hasFilter ? '' : 'inactive'}`}>All</a>
	{
		validYears.map((curr) => (
			<a href={`/${Number(curr)}`} class={`button-style ${currentYear != curr ? '' : 'inactive'}`}>
				{curr}
			</a>
		))
	}
</section>
