---
import { yearList } from "../content/_yearList";

const year = Astro.props.year;
console.log(Astro.props)
---

<section class="nav-buttons">
	<a href=`/index.html` } class={`button-style ${year && !showAll ? "" : "inactive"}`}>All</a>
	{
		yearList.map((curr) => (
			<a href={`/${Number(curr)}`} class={`button-style ${year != curr ? "" : "inactive"}`}>
				{curr}
			</a>
		))
	}
</section>
