---
import "../styles/year.styles.css";
import { getBooks } from "../utils/getBooks";
import Layout from "./Layout.astro";
import ReadingStats from "./ReadingStats.astro";
import YearButtons from "../components/YearButtons.astro";

export interface YearBookProps {
	year?: number;
}

let books;
const { year } = Astro.props;

if (year) {
	books = await getBooks(year);
} else {
	books = await getBooks();
}
---

<Layout title="Book List">
	<main class="content-box">
		<header>
			<nav>
				<h1>
					<span class="text-gradient">{year ? `${year}` : ""}</span>{" "}Books
				</h1>
				<YearButtons year={year} />
			</nav>
			<ReadingStats books={books} />
		</header>
		<slot />
	</main>
</Layout>
