---
import Sidebar from "../components/Layout/Sidebar.astro";
import BookInfo from "../components/BookInfo.astro";
import { slide } from "astro:transitions";

export interface Props {
  cover: ImageMetadata;
  score: number;
  year: number;
  month: string;
  genres: string[];
  title: string;
}

const { cover, score, year, month, genres, title } = Astro.props;
---

<Sidebar isReview currentYear={1} />
<section
  class="flex mx-6 my-8 gap-6 items-start justify-between"
  transition:animate={slide({ duration: "0.4s" })}
>
  <slot />
  <BookInfo
    {...{ score, year, month, genres, title, cover }}
  />
</section>
