---
export interface Props {
  title: string;
}

const { title } = Astro.props;

import "@fontsource-variable/rubik";
import '@fontsource-variable/fraunces/soft.css';
import '@fontsource-variable/fraunces/soft-italic.css';
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="text-center w-full leading-relaxed text-ctp-text antialiased">
    <!-- Dot background -->
    <div
      class="fixed inset-0 -z-10 bg-[radial-gradient(var(--catppuccin-color-rosewater-50)_1px,transparent_1px)] [background-size:14px_14px]"
    >
    </div>

    <main
      class="bg-ctp-mantle border border-teal-50 m-6 sm:m-12 lg:mx-24 pb-12 shadow-lg rounded-xl relative z-10 backdrop-blur-[1px]"
    >
      <slot />
    </main>
  </body>
</html>
