---
import { getMostReadGenres } from "../utils/genres";
import { getAverageStars } from "../utils/rating";
import { BookIcon, PlusCircleIcon } from "@phosphor-icons/react";
import GradientText from "../components/GradientText.astro";
import Link from "@/components/Link.astro";

const { books } = Astro.props;

let mostReadGenres;
let averageStars;

if (books) {
  mostReadGenres = getMostReadGenres(books);
  averageStars = getAverageStars(
    books.map((book: { data: { score: number } }) => book?.data.score)
  );
}
---

<section
  class="flex items-center px-2 py-2 border border-transparent rounded-xl shadow-sm bg-slate-50 gap-4 w-fit self-center hover:text-ctp-rosewater-400 whitespace-nowrap"
>
  <BookIcon color="var(--catppuccin-color-teal-300)" weight="duotone" size="19" />
  <GradientText text={books.length + " books read"} />
</section>
<Link url={"/stats"} text={"More stats"}>
  <PlusCircleIcon color="var(--catppuccin-color-teal-300)" weight="duotone" size="19" />

</Link>
