---
import type { CollectionEntry } from "astro:content";
import ReadingStats from "./ReadingStats.astro";
import { getSortedBooks } from "../utils/getBooks";
import GradientText from "../components/GradientText.astro";
import { BookOpenTextIcon, HouseLineIcon } from "@phosphor-icons/react";

export interface Props {
  currentYear?: number;
  isReview?: boolean;
  bookInfo?: any;
}

const { currentYear, isReview } = Astro.props;

const books: CollectionEntry<"books">[] = currentYear
  ? await getSortedBooks(currentYear)
  : await getSortedBooks();

const isRoot = Astro.url.pathname === "/" || Astro.url.pathname === "/index.html";
const isGenre = Astro.url.pathname?.includes("genre");
---

<aside
  class="p-6 flex gap-6 bg-ctp-sapphire-50/30 rounded-t-xl flex-wrap justify-between shadow-xs"
>
  <h1
    class="!text-2xl mb-4 sm:mb-8 flex text-center gap-2 items-center px-2 border border-transparent rounded-xl shadow-xs bg-slate-50/50 w-fit self-start"
  >
    <BookOpenTextIcon size={32} color="var(--catppuccin-color-rosewater-400)" weight="duotone" />
    <GradientText text={isReview ? "Review" : currentYear ? `${currentYear}` : "Yearly"} />
    Books
  </h1>
  {!isReview && !isGenre && <ReadingStats books={books} mini={true} />}
  {
    (isReview || isGenre) && (
      <a
        href="/"
        aria-label="Back to homepage"
        class="flex items-center px-2 py-2 border border-transparent rounded-xl shadow-sm bg-slate-50 gap-4 w-fit self-center text-ctp-teal-400 hover:!text-ctp-rosewater-400 whitespace-nowrap"
      >
        <HouseLineIcon size={24} weight="duotone" />
      </a>
    )
  }
</aside>
